/*Este es el código vinculado a el header*/
.header{
    padding: 20px 20px 20px 20px;
}
.wrapper{
    max-width: 768px;
    margin: 0 auto;
}
.header--caja1__logo-principal {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
}
.header--caja2 {
    display: none;
}

.header {
    padding:20px 10px 20px 10px;
    border-bottom: 1px solid rgb(221, 218, 218);
}
a {
    text-decoration: none;
    color: black;
}


@media (min-width: 786px) {
    .header {
        padding:20px 10px 20px 10px;
        border-bottom: 1px solid rgb(221, 218, 218);
    }
    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .header--caja1{
        flex-grow: 1;
    }
    .header--caja2 {
        display: flex;
        gap: 30px;
        align-items: center;
        flex-grow: 2;
        justify-content: end;
    }
    
    .header--caja2__principal-nav-list {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0%;
        padding: 0%;
        font-family: sans-serif;
        font-size: 1rem;
    }
    
    .header--caja2__button-contacto {
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 1rem;
        border: 1px solid rgb(221, 218, 218);
        background-color: white;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}


/*Este es el código vinculado al main - section class="main--description-product*/

.main {
     max-width: 1440px;
     margin: 0 auto;
     padding:0 10px 0 10px;
    font-family: sans-serif;
}

.main--description-product {
    padding-top: 30px;
    display: flex;
    gap: 2.5rem;
    font-family: sans-serif;
}

.main--description-product__image-product{
    position: relative;
    flex-grow: 35%;
}
.main--description-product__text-product{
    flex-grow: 65%
}
.main--description-product__image-product-gb {
    display: inline-block;
    padding: 1rem;
    background: rgb(64, 218, 64);
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}

.main--description-product__text-product-principal-offer {
    color:red;
    font-weight: 600;
}

.main--description-product__text-product-principal-title {
    font-size: 1.3rem;
}

.main--description-product__text-product-text-p1 {
    padding-bottom: 0.8rem;
}

.main--description-product__text-product-price {
    display: flex;
    gap: 25px;
    padding: 15px 0px 40px 0px;
    align-items: center;
}

.main--description-product__text-product-price-number {
    font-size: 2.2rem;
    font-weight: 600;
}

.main--description-product__text-product-price-button {
    background-color: rgb(50, 50, 255);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border: 1px solid  rgb(8, 8, 152);
    font-weight: 100;  
}
.main--description-product__text-product-specifications{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.main--description-product__text-product-specifications-1  {
    display: flex;
    justify-content: left;
    gap: 15px;
}
.main--description-product__text-product-specifications-icon {
    flex-grow: 20%;
}
.main--description-product__text-product-specifications-text {
    flex-grow: 80%;
}

/*Este es el código vinculado al main - section class="main--relacioned-product*/
.main--relacioned-product_title {
    padding: 20px 0 20px 0;
    font-size: 1.4rem;
}
.main--relacioned-product_articles {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-bottom: 50px;
}
.main--relacioned-product_articles-shop {
    border: 1px solid rgb(221, 218, 218);
    padding: 15px;
    border-radius: 8px;
    Flex-basis:25%;
}
.image {
    width: 100%;
}
h3 {
    font-size: 1.3rem;
}
.main--relacioned-product_articles-shop-span1{
    background-color: red;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -20px;
}

.main--relacioned-product_articles-shop-span2{
    background-color: rgb(0, 76, 255);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -20px;
}

/*Este es el código vinculado al main - section class="main--form-contact*/

.main--form-contact {
    display: grid;
    grid-template-areas: 
    'main--form-contact_text main--form-contact_text main--form-contact_text  main--form-contact_form';
    background-color: #eef5fe;
    padding: 30px 80px 50px 80px;
    gap: 20px;
    margin-bottom:50px;
}

.main--form-contact_text {
    grid-area: main--form-contact_text;
    padding: 0 100px 0 0;
}

.main--form-contact_form{
    grid-area: main--form-contact_form;
      
}
.main--form-contact_text-h2{
    font-size: 2.6rem;
}

.main--form-contact_form-raffle{
    padding: 40px 0 0 0;

}
.main--form-contact_form-raffle-1{
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 15px;
    color: rgb(40, 39, 39);
    font-size: 1.3rem;
}

.main--form-contact_form-raffle-button {
    background-color: rgb(50, 50, 255);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border: 1px solid rgb(8, 8, 152);
    font-weight: 100;  
    font-size: 0.8rem;
}

.main--form-contact_form-raffle-1-input {
    padding: 8px 8px 8px 16px;
    border: 1px solid rgb(221, 218, 218);
    border-radius: 8px;
}

.main--form-contact_form-raffle-1-input::placeholder {
    font-size: 1rem;
}

/*Este es el código vinculado al footer*/

.footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(221, 218, 218);
    font-family: sans-serif;
    padding:0 10px 0 10px;

}

.copyraight{
    font-weight: 600;
    padding: 10px;
}